[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
"html5lib" = "*"
pyagb = {git = "https://github.com/WodkaRHR/pyagb.git",ref = "35d4392236cada5497716efdcb1f649f7f5b96c3"}
requests = "*"

[dev-packages]
ipykernel = "*"
pylint = "*"

[requires]
python_version = "3.7.3"
