[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
"html5lib" = "*"
requests = "*"
pyaml = "*"
pyagb = {ref = "153d282646f90b91ec079bb8151e3f662bf73baa", git = "git+https://github.com/dfuchsgruber/pyagb.git"}
tqdm = "*"

[dev-packages]
ipykernel = "*"
pylint = "*"

[requires]
python_version = "3.11.5"
