[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
"html5lib" = "*"
requests = "*"
pyaml = "*"
pyagb = {ref = "6d5da1f6adc943ed16fd108f60706b4e09be15c7", git = "git+https://github.com/dfuchsgruber/pyagb.git"}

[dev-packages]
ipykernel = "*"
pylint = "*"

[requires]
python_version = "3.11.5"
