{
    "pymap2s" : {
        "include" : {
            "directive" : ".include \"{constant}.s\"",
            "header" : [
                "map_weathers", "map_show_name_types", "person_behaviours",
                "map_connections", "map_flash_types", "map_battle_styles",
                "flags", "items", "vars", "map_namespaces", "songs", "vars"
            ],
            "footer" : [],
            "tileset" : []
        }
    },
    "model" : "pymap_models.py"
}
