{
   "pymap2s":{
      "include":{
         "directive":".include \"{constant}.s\""
      }
   },
   "model":[
      "models/map.py",
      "models/basestats.py",
      "models/wild_pokemon.py",
      "models/pokedex.py",
      "models/evolution.py",
      "models/mega_evolution.py",
      "models/dungeon.py"
   ],
   "string":{
      "charmap":"charmap.txt",
      "tail":[
         255
      ],
      "as":{
         "directives":{
            "std":".string",
            "auto":".autostring",
            "padded":".stringpad"
         }
      },
      "c":{
         "macro":"PSTRING"
      }
   },
   "pymap" : {
        "header" : {
            "namespace_constants" : "map_namespaces",
            "connections" : {
                "connection_types" : {
                    "MAP_CONNECTION_SOUTH" : "south",
                    "MAP_CONNECTION_NORTH" : "north",
                    "MAP_CONNECTION_WEST" : "west",
                    "MAP_CONNECTION_EAST" : "east"
                }
            },
            "events" : {
               "Person" : {
                  "templates" : {
                     "Item" : [
                        [["picture"], 92],
                        [["script_std_and_in_connection", "script_std"], "PERSON_ITEM"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Egg" :  [
                        [["picture"], 101],
                        [["script_std_and_in_connection", "script_std"], "PERSON_EGG"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Pokemon" :  [
                        [["picture"], 238],
                        [["script_std_and_in_connection", "script_std"], "PERSON_POKEMON"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Pokemon Aggro" :  [
                        [["picture"], 238],
                        [["script_std_and_in_connection", "script_std"], "PERSON_AGGRESSIVE_POKEMON"],
                        [["is_trainer"], 1],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Trash Can" :  [
                        [["picture"], 236],
                        [["script_std_and_in_connection", "script_std"], "PERSON_TRASH_CAN"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Mushroom" :  [
                        [["picture"], 236],
                        [["script_std_and_in_connection", "script_std"], "PERSON_MUSHROOM"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Shell" :  [
                        [["picture"], 236],
                        [["script_std_and_in_connection", "script_std"], "PERSON_SHELL"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ],
                     "Recipe" : [
                        [["picture"], 186],
                        [["script_std_and_in_connection", "script_std"], "PERSON_RECIPE"]
                     ],
                     "Upstream" : [
                        [["picture"], 187],
                        [["script_std_and_in_connection", "script_std"], "PERSON_UPSTREAM"]
                     ],
                     "Cut Tree" : [
                        [["picture"], 95],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"],
                        [["script"], "ow_script_cut_tree"]
                     ],
                     "Rock Smash" : [
                        [["picture"], 96],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"],
                        [["script"], "ow_script_rock_smash"]
                     ],
                     "Strength Boulder" : [
                        [["picture"], 97],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"],
                        [["script"], "ow_script_strength_boulder"]
                     ],
                     "Secret Power Cave" : [
                        [["picture"], 185],
                        [["script_std_and_in_connection", "script_std"], "PERSON_SECRET_POWER_CAVE"],
                        [["behaviour"], "0"],
                        [["flag"], "FLAG_DUNGEON_BASE"]
                     ],
                     "Secret Power Vines" : [
                        [["picture"], 183],
                        [["script_std_and_in_connection", "script_std"], "PERSON_SECRET_POWER_VINE"],
                        [["behaviour"], "0"],
                        [["flag"], "FLAG_DUNGEON_BASE"]
                     ],
                     "Mega Stone" : [
                        [["picture"], 93],
                        [["script_std_and_in_connection", "script_std"], "PERSON_ITEM"],
                        [["behaviour"], "BEHAVIOUR_LOOK_AROUND"]
                     ]
                  }
               },
               "Sign" : {
                  "templates" : {
                     "Hidden Item" : [
                        [["type"], "SIGNPOST_HIDDEN_ITEM"],
                        [["value", "event.signpost_item", "amount"], 1]
                     ]
                  }
               }
            }
        }
   },
   "backend" : "proj.pymap_backend.py"
}
