{
   "pymap2s":{
      "include":{
         "directive":".include \"{constant}.s\""
      }
   },
   "model":[
      "models/map.py",
      "models/basestats.py",
      "models/wild_pokemon.py",
      "models/pokedex.py",
      "models/evolution.py",
      "models/dungeon.py"
   ],
   "string":{
      "charmap":"charmap.txt",
      "tail":[
         255
      ],
      "as":{
         "directives":{
            "std":".string",
            "auto":".autostring",
            "padded":".stringpad"
         }
      },
      "c":{
         "macro":"PSTRING"
      }
   },
   "pymap" : {
        "header" : {
            "namespace_constants" : "map_namespaces",
            "connections" : {
                "connection_types" : {
                    "MAP_CONNECTION_SOUTH" : "south",
                    "MAP_CONNECTION_NORTH" : "north",
                    "MAP_CONNECTION_WEST" : "west",
                    "MAP_CONNECTION_EAST" : "east"
                }
            }
        },
      "display" : {
         "event_to_image_backend" : "pymap_event_imgs.py"
      }
   }
}

